*, html {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;  
    overflow: hidden;
    scroll-behavior: smooth;
}

.body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    gap: 0;
}

.headline {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: gray;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
}

.nav {
    background-color: yellow;
    grid-column: 1;
    grid-row: 2;
}

.content {
    background-color: green;
    grid-column: 2 / 4;
    grid-row: 2;
}

